.menu {
  display: flex;
  justify-content: center;
  background-color: #D5B0AC;
  position: static;
}
.drop-down {
  display: flex;
  position: relative;
  justify-content: center;
}
.drop-menu {
  position: absolute;
  top: 30px;
  display: none;
  justify-content: center;
}
.secondary-drop-down {
  display: flex;
  position: relative;
  justify-content: center;
}
.secondary-drop-menu {
  position: absolute;
  left: 100px;
  top: 0px;
  display: none;
  justify-content: center;
}
span {
  width: 100px;
  height: 30px;
  background-color: #D5B0AC;
  color: #402E2A;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
span:hover {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #9CD08F;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-down:hover .drop-menu { display: block; }
.secondary-drop-down:hover .secondary-drop-menu { display: block }

